<h2 id="project">Projetos</h2>
<div class="container__col1">
    <div class="container__projects">
        <swiper-container 
        pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
        slides-per-view="auto" coverflow-effect-rotate="0" coverflow-effect-stretch="0" coverflow-effect-depth="100"
        coverflow-effect-modifier="4" coverflow-effect-slide-shadows="false">
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/contract.png" width="400px" height="250px" fill>
        </swiper-slide>
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/dashboard-pc.png" width="400px" height="250px" fill>
        </swiper-slide>
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/accouting.png" width="400px" height="250px" fill>
        </swiper-slide>
        </swiper-container>
        <aside>
            <a href="https://github.com/lucasemanoel385/LojaLocacao" target="_blank">
                <h3>Loja locação Front-End</h3>
                <p> Front-End da loja locação tem como sua prioridade deixar a interface com a facilidade de navegação, tendo sempre em mente a usuabilidade deixando tudo mais 
                    explicito e facil ao entedimento do usuario, melhorando sua interação com a interface.
                </p>
            </a>
            <ul>
                <li>Angular</li>
            </ul>
        </aside>
    </div>
</div>
<div class="container__col2">
    <div class="container__projects">
        <swiper-container 
        pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
        slides-per-view="auto" coverflow-effect-rotate="0" coverflow-effect-stretch="0" coverflow-effect-depth="100"
        coverflow-effect-modifier="4" coverflow-effect-slide-shadows="false">
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/apiLocacao.png" width="400px" height="250px" fill>
        </swiper-slide>
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/DiagramTable.png" width="400px" height="250px" fill>
        </swiper-slide>
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/apiLocacao1.png" width="400px" height="250px" fill>
        </swiper-slide>
        </swiper-container>
        <aside>
            <a href="https://github.com/lucasemanoel385/apiprojectrosa" target="_blank">
                <h3>Loja locação Back-End</h3>
                <p> Api da loja locação, onde o front-end faz a conexão com todos os endpoints necessarias para cadastros e exibição de dados salvos no back-end, tendo consigo as regras de negocios fornecidos pelo cliente.</p>
            </a>
            <ul>
                <li>Java</li>
                <li>Spring-Boot</li>
                <li>MySQL</li>
                <li>Spring-Boot Security</li>
            </ul>
        </aside>
    </div>
</div>
<div class="container__col1">
    <div class="container__projects">
        <swiper-container 
        pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
        slides-per-view="auto" coverflow-effect-rotate="0" coverflow-effect-stretch="0" coverflow-effect-depth="100"
        coverflow-effect-modifier="4" coverflow-effect-slide-shadows="false">
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/platform-image/home.png" fill>
        </swiper-slide>
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/platform-image/search.png" width="400px" height="250px" fill>
        </swiper-slide>
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/platform-image/cursoId.png" width="400px" height="250px" fill>
        </swiper-slide>
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/platform-image/cursoId-login.png" width="400px" height="250px" fill>
        </swiper-slide>
        </swiper-container>
        <aside>
            <a href="https://github.com/lucasemanoel385/CursosEBSFront" target="_blank">
                <h3>Plataforma Cursos Front-End</h3>
                <p> Desenvolvi o front-end de uma plataforma de cursos utilizando Angular. O sistema permite que usuários realizem cadastro na plataforma, inscrição em cursos e acesso às aulas. Possui também uma área administrativa exclusiva, onde administradores podem gerenciar cursos, aulas e usuários.
                    <br>
                    A aplicação se integra com um backend baseado em microserviços, utilizando autenticação JWT e comunicação via API Gateway.
                </p>
            </a>
            <ul>
                <li>Angular</li>
            </ul>
        </aside>
    </div>
</div>
<div class="container__col2">
    <div class="container__projects">
        <swiper-container 
        pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
        slides-per-view="auto" coverflow-effect-rotate="0" coverflow-effect-stretch="0" coverflow-effect-depth="100"
        coverflow-effect-modifier="4" coverflow-effect-slide-shadows="false">
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/platform-image/diagram-microservice.png" width="400px" height="250px" fill>
        </swiper-slide>
        </swiper-container>
        <aside>
            <a href="https://github.com/lucasemanoel385/cursosEBSMicroService" target="_blank">
                <h3>Plataforma Cursos Microserviços Back-End</h3>
                <p> Backend desenvolvido (para estudo de microserviços) com Java + Spring Boot utilizando arquitetura de microserviços. O projeto inclui Eureka Server, API Gateway, autenticação via JWT, comunicação entre serviços com OpenFeign e RabbitMQ, persistência com MySQL + JPA, e um serviço de e-mail para recuperação de senha. Também integra com o Mercado Pago Checkout Pro para pagamentos de matrícula e com a API do Gumlet para upload e gerenciamento dos vídeos dos cursos.</p>
            </a>
            <ul>
                <li>Java</li>
                <li>MySQL</li>
                <li>Spring-Boot</li>
                <li>Spring Boot Security</li>
                <li>Spring Cloud Gateway</li>
                <li>Spring Cloud Eureka</li>
                <li>RabbitMQ</li>
            </ul>
        </aside>
    </div>
</div>