<h2 id="project">Projetos</h2>
<div class="container__col1">
    <div class="container__projects">
        <swiper-container 
        pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
        slides-per-view="auto" coverflow-effect-rotate="0" coverflow-effect-stretch="0" coverflow-effect-depth="100"
        coverflow-effect-modifier="4" coverflow-effect-slide-shadows="false">
        <swiper-slide>
            <img style="position: relative; height: auto;" ngSrc="assets/icons-project/contract.png" fill>
        </swiper-slide>
        <swiper-slide>
            <img style="position: relative; height: auto;" ngSrc="assets/icons-project/dashboard-pc.png" fill>
        </swiper-slide>
        <swiper-slide>
            <img style="position: relative; height: auto;" ngSrc="assets/icons-project/accouting.png" fill>
        </swiper-slide>
        </swiper-container>
        <aside>
            <a href="https://github.com/lucasemanoel385/LojaLocacao" target="_blank">
                <h3>Sistema de locação</h3>
                <p>
                    <strong>Descrição:</strong> Aplicação web composta por um backend em Java com Spring Boot e um frontend em Angular. O backend é responsável por toda a lógica de negócio, autenticação via JWT, persistência dos dados em MySQL e segurança da aplicação. O frontend oferece uma interface responsiva e intuitiva, facilitando a navegação e a interação do usuário com as funcionalidades da API.
                </p>
                <br/>
                <p>
                    <strong>Tecnologias:</strong>
                    Java, Spring Boot, Spring Security, Spring Data JPA, JWT, MySQL, Docker, Angular.
                </p>
            </a>
            <!--<ul>
                <li>Angular</li>
            </ul>-->
        </aside>
    </div>
</div>
<!--<div class="container__col2">
    <div class="container__projects">
        <swiper-container 
        pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
        slides-per-view="auto" coverflow-effect-rotate="0" coverflow-effect-stretch="0" coverflow-effect-depth="100"
        coverflow-effect-modifier="4" coverflow-effect-slide-shadows="false">
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/apiLocacao.png" width="400px" height="250px" fill>
        </swiper-slide>
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/DiagramTable.png" width="400px" height="250px" fill>
        </swiper-slide>
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/apiLocacao1.png" width="400px" height="250px" fill>
        </swiper-slide>
        </swiper-container>
        <aside>
            <a href="https://github.com/lucasemanoel385/apiprojectrosa" target="_blank">
                <h3>Loja locação Back-End</h3>
                <p><strong>Descrição: Aplicação web composta por um backend em Java com Spring Boot e um frontend em Angular. O backend é responsável por toda a lógica de negócio, autenticação via JWT, persistência dos dados em MySQL e segurança da aplicação. O frontend oferece uma interface responsiva e intuitiva, facilitando a navegação e a interação do usuário com as funcionalidades da API.</strong></p>
            </a>
            <ul>
                <li>Java</li>
                <li>Spring-Boot</li>
                <li>MySQL</li>
                <li>Spring-Boot Security</li>
            </ul>
        </aside>
    </div>
</div>-->
<div class="container__col2">
    <div class="container__projects">
        <swiper-container 
        pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
        slides-per-view="auto" coverflow-effect-rotate="0" coverflow-effect-stretch="0" coverflow-effect-depth="100"
        coverflow-effect-modifier="4" coverflow-effect-slide-shadows="false">
        <swiper-slide>
            <img style="position: relative; height: auto;" ngSrc="assets/icons-project/platform-image/home.png" fill>
        </swiper-slide>
        <swiper-slide>
            <img style="position: relative; height: auto;" ngSrc="assets/icons-project/platform-image/search.png" width="400px" height="250px" fill>
        </swiper-slide>
        <swiper-slide>
            <img style="position: relative; height: auto;" ngSrc="assets/icons-project/platform-image/cursoId.png" width="400px" height="250px" fill>
        </swiper-slide>
        <swiper-slide>
            <img style="position: relative; height: auto;" ngSrc="assets/icons-project/platform-image/cursoId-login.png" width="400px" height="250px" fill>
        </swiper-slide>
        </swiper-container>
        <aside>
            <a href="https://github.com/lucasemanoel385/CursosEBSFront" target="_blank">
                <h3>Plataforma Cursos</h3>
                <p><strong>Descrição:</strong> Aplicação web desenvolvida utilizando Angular no frontend e um backend baseado em microsserviços com Java e Spring Boot. O sistema permite que usuários realizem cadastro, inscrição em cursos, pagamentos de matrícula e acesso às aulas em vídeo. Conta também com uma área administrativa onde é possível gerenciar cursos, aulas e usuários.
                    O backend é composto por múltiplos microsserviços, utilizando API Gateway, service discovery (Eureka), autenticação via JWT, comunicação entre serviços com OpenFeign e mensageria com RabbitMQ. Integrações externas foram realizadas com o Mercado Pago (Checkout Pro) para processamento de pagamentos e com a API do Gumlet para upload e gerenciamento dos vídeos dos cursos.
                </p>
                <br/>
                <p><strong>Tecnologias:</strong>
                    Java, Spring Boot, Spring Security, Spring Data JPA, Spring Cloud Gateway, Spring Cloud Eureka, RabbitMQ, OpenFeign, MySQL, Docker, Mercado Pago SDK, API Gumlet, Angular.
                </p>
                <p><strong></strong></p>
            </a>
        </aside>
    </div>
</div>