<h2 id="project">Projetos</h2>
<div class="container__col1">
    <div class="container__projects">
        <swiper-container 
        pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
        slides-per-view="auto" coverflow-effect-rotate="0" coverflow-effect-stretch="0" coverflow-effect-depth="100"
        coverflow-effect-modifier="4" coverflow-effect-slide-shadows="false">
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/contract.png" width="400px" height="250px" fill>
        </swiper-slide>
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/dashboard-pc.png" width="400px" height="250px" fill>
        </swiper-slide>
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/accouting.png" width="400px" height="250px" fill>
        </swiper-slide>
        </swiper-container>
        <aside>
            <a href="https://github.com/lucasemanoel385/LojaLocacao" target="_blank">
                <h3>Loja locação Front-End</h3>
                <p> Front-End da loja locação tem como sua prioridade deixar a interface com a facilidade de navegação, tendo sempre em mente a usuabilidade deixando tudo mais 
                    explicito e facil ao entedimento do usuario, melhorando sua interação com a interface.
                </p>
            </a>
            <ul>
                <li>Html</li>
                <li>Css</li>
                <li>Angular</li>
            </ul>
        </aside>
    </div>
</div>
<div class="container__col2">
    <div class="container__projects">
        <swiper-container 
        pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
        slides-per-view="auto" coverflow-effect-rotate="0" coverflow-effect-stretch="0" coverflow-effect-depth="100"
        coverflow-effect-modifier="4" coverflow-effect-slide-shadows="false">
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/apiLocacao.png" width="400px" height="250px" fill>
        </swiper-slide>
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/DiagramTable.png" width="400px" height="250px" fill>
        </swiper-slide>
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/apiLocacao1.png" width="400px" height="250px" fill>
        </swiper-slide>
        </swiper-container>
        <aside>
            <a href="https://github.com/lucasemanoel385/apiprojectrosa" target="_blank">
                <h3>Loja locação Back-End</h3>
                <p> Api da loja locação, onde o front-end faz a conexão com todos os endpoints necessarias para cadastros e exibição de dados salvos no back-end, tendo consigo as regras de negocios fornecidos pelo cliente.</p>
            </a>
            <ul>
                <li>Java</li>
                <li>Spring-Boot</li>
                <li>MySQL</li>
                <li>Spring-Boot Security</li>
            </ul>
        </aside>
    </div>
</div>
<div class="container__col1">
    <div class="container__projects">
        <swiper-container 
        pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
        slides-per-view="auto" coverflow-effect-rotate="0" coverflow-effect-stretch="0" coverflow-effect-depth="100"
        coverflow-effect-modifier="4" coverflow-effect-slide-shadows="false">
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/contract.png" width="400px" height="250px" fill>
        </swiper-slide>
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/dashboard-pc.png" width="400px" height="250px" fill>
        </swiper-slide>
        <swiper-slide>
            <img style="position: relative;" ngSrc="assets/icons-project/accouting.png" width="400px" height="250px" fill>
        </swiper-slide>
        </swiper-container>
        <aside>
            <a href="https://github.com/" target="_blank">
                <h3>Loja locação</h3>
                <p> WebApp tem a finalidade de locar varios tipos de produtos de vestidos a brinquedos, 
                    podendo ser usado para varias finalidades na área da locação, indicando a data reservada pelo cliente. 
                    Tem consigo uma gestão de contabilidade assegurando das 
                    entradas e saídas da loja. </p>
            </a>
        </aside>
    </div>
</div>


