<div class="container__nav" [style.transform]="isNavbarHidden">
    <!--<h3>Lucas Emanoel</h3>-->
    <nav>
        <a href="#about">Sobre</a>
        <a href="#project">Projetos</a>
    </nav>
</div>
<header id="about">
    <aside class="container__header">
        <div class="container__header-about">
            <h2 style="font-size: 30px;"><strong style="color: var(--secundary-color);">Lucas Emanoel</strong></h2>
            <p>Sou um entusiasta da programação em busca de uma oportunidade de estágio que me permita aplicar e expandir meus conhecimentos em diferentes áreas do desenvolvimento de software. Já tive experiências práticas com APIs REST, microsserviços, autenticação, bancos de dados e desenvolvimento web, explorando ferramentas como Java, Spring Boot, Angular e MySQL. Estou sempre em busca de aprendizado contínuo, colaboração em equipe e desafios que contribuam para meu crescimento técnico e profissional. Meu objetivo é atuar em projetos onde eu possa evoluir, contribuir e me adaptar às necessidades da equipe e da empresa.
            </p>

            <nav>
                <ul>
                    <li class="linkedin">
                        <a href="https://www.linkedin.com/in/lucas-emanoel-462892231/" target="_blank">
                            <img src="assets/icons/linkedin.png" 
                            alt="Ícone para LinkedIn">
                        </a>
                    </li>
                    <li class="github">
                        <a href="https://github.com/lucasemanoel385?tab=repositories" target="_blank">
                            <img src="assets/icons/github.png" 
                            alt="Ícone para GitHub">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <div class="container__img">
        <img src="assets/face.jpg" alt="" loading="eager">
        <a href="assets/pdf/cvv.pdf">Download Cv</a>
        
    </div>
</header>
