<div class="container__nav">
    <!--<h3>Lucas Emanoel</h3>-->
    <nav>
        <a href="#about">Sobre</a>
        <a href="#project">Projetos</a>
    </nav>
</div>
<header id="about">
    <aside class="container__header">
        <div class="container__header-about">
            <h2 style="font-size: 30px;"><strong style="color: var(--secundary-color);">Lucas Emanoel</strong></h2>
            <p>Me interessei na área de desenvolvimento pelos desafios que devem ser solucionados. 
                Estou a procura da minha primeira oportunidade, querendo agregar e aprender com os profissionais da área.
            </p>

            <nav>
                <ul>
                    <li class="whatsapp">
                        <a href="" target="_blank">
                            <img src="assets/icons/gmail.png" 
                            alt="Ícone para contato whatsApp">
                        </a>
                    </li>
                    <li class="linkedin">
                        <a href="" target="_blank">
                            <img src="assets/icons/linkedin.png" 
                            alt="Ícone para LinkedIn">
                        </a>
                    </li>
                    <li class="github">
                        <a href="" target="_blank">
                            <img src="assets/icons/github.png" 
                            alt="Ícone para GitHub">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <div class="container__img">
        <img src="assets/icons/github.png" alt="" loading="eager">
        <a href="assets/pdf/cv.pdf">Download Cv</a>
        
    </div>
</header>
