:root {
    /*background: rgb(204,202,230);
    background: radial-gradient(circle, rgba(204,202,230,1) 0%, rgba(255,255,255,1) 35%, rgba(141,181,189,1) 100%);*/
    background-color: #f0f4f8;
    --background: #f0f4f8;
    --text-color: #1a202c;
    --primary-color: #4299e1;
    --secundary-color: #2b6cb0;
    --font: 'Inter', Arial, sans-serif;
    --transition: all 0.3s ease;
}